hls/build/sw_emu/
hls/build/hw_emu/
hls/profile_data/sw_emu/
hls/profile_data/hw_emu/
*.txt
*.log

# Ignoring unwanted derivatives
hls/build/hw/temp_dir/**/*

# force Git to track the directory structures...
!hls/build/hw/temp_dir/**/

# specific database, report, and log extensions needed by Vitis Analyzer
!hls/build/hw/temp_dir/**/*.xml
!hls/build/hw/temp_dir/**/*.rpt
!hls/build/hw/temp_dir/**/*.pb
!hls/build/hw/temp_dir/**/*.pb3
!hls/build/hw/temp_dir/**/*.xtxt
!hls/build/hw/temp_dir/**/*.json
!hls/build/hw/temp_dir/**/*.rtd
!hls/build/hw/temp_dir/**/*.xutil
!hls/build/hw/temp_dir/**/*.rpx
!hls/build/hw/temp_dir/**/*.rpv
!hls/build/hw/temp_dir/**/*.html
!hls/build/hw/temp_dir/**/*.info
!hls/build/hw/temp_dir/**/*.log
!hls/build/hw/temp_dir/**/*.txt