hls/build/sw_emu/
hls/build/hw_emu/
hls/build/hw/temp_dir/datamover*/
hls/build/hw/temp_dir/kernel*/
hls/build/hw/temp_dir/link/link/
hls/build/hw/temp_dir/link/log/
hls/profile_data/sw_emu/
hls/profile_data/hw_emu/
*.txt
*.log