[connectivity]
# nk=kernel_outerloop_0_0:1:kernel_outerloop_0_0_1
# nk=datamover_outerloop_0:1:datamover_outerloop_0_1
# nk=kernel_outerloop_0_1:1:kernel_outerloop_0_1_1
#nk=kernel_outerloop_0_2:1:kernel_outerloop_inst_0_3

#stream_connect=datamover_outerloop_0_1.arg0_u_axis_out:kernel_outerloop_inst_0_1.arg0_u_axis_in:16
#stream_connect=datamover_outerloop_0_1.arg0_l_axis_out:kernel_outerloop_inst_0_1.arg0_l_axis_in:16
#stream_connect=kernel_outerloop_inst_0_1.arg1_u_axis_out:datamover_outerloop_0_1.arg1_u_axis_in:16
#stream_connect=kernel_outerloop_inst_0_1.arg1_l_axis_out:datamover_outerloop_0_1.arg1_l_axis_in:16

stream_connect=datamover_outerloop_0_1.arg0_u_axis_out:kernel_outerloop_0_0_1.arg0_u_axis_in:512
stream_connect=datamover_outerloop_0_1.arg0_l_axis_out:kernel_outerloop_0_0_1.arg0_l_axis_in:512
stream_connect=kernel_outerloop_0_0_1.arg1_u_axis_out:kernel_outerloop_0_1_1.arg0_u_axis_in:128
stream_connect=kernel_outerloop_0_0_1.arg1_l_axis_out:kernel_outerloop_0_1_1.arg0_l_axis_in:128
stream_connect=kernel_outerloop_0_1_1.arg1_u_axis_out:datamover_outerloop_0_1.arg1_u_axis_in:512
stream_connect=kernel_outerloop_0_1_1.arg1_l_axis_out:datamover_outerloop_0_1.arg1_l_axis_in:512

slr=kernel_outerloop_0_0_1:SLR1
slr=kernel_outerloop_0_1_1:SLR2
# slr=kernel_outerloop_inst_0_2:SLR2


sp=datamover_outerloop_0_1.arg0_b0:HBM[0]
sp=datamover_outerloop_0_1.arg0_b1:HBM[1]
sp=datamover_outerloop_0_1.arg0_b2:HBM[2]
sp=datamover_outerloop_0_1.arg0_b3:HBM[3]
sp=datamover_outerloop_0_1.arg0_b4:HBM[4]
sp=datamover_outerloop_0_1.arg0_b5:HBM[5]
sp=datamover_outerloop_0_1.arg0_b6:HBM[6]
sp=datamover_outerloop_0_1.arg0_b7:HBM[7]
sp=datamover_outerloop_0_1.arg1_b0:HBM[16]
sp=datamover_outerloop_0_1.arg1_b1:HBM[17]
sp=datamover_outerloop_0_1.arg1_b2:HBM[18]
sp=datamover_outerloop_0_1.arg1_b3:HBM[19]
sp=datamover_outerloop_0_1.arg1_b4:HBM[20]
sp=datamover_outerloop_0_1.arg1_b5:HBM[21]
sp=datamover_outerloop_0_1.arg1_b6:HBM[22]
sp=datamover_outerloop_0_1.arg1_b7:HBM[23]


#[hls]
#clock=220000000:datamover_outerloop_0,kernel_outerloop_0_0,kernel_outerloop_0_1

#[clock]
#freqHz=240000000:datamover_outerloop_0_1,kernel_outerloop_inst_0_1
#tolerance=0.12:datamover_outerloop_0_1,kernel_outerloop_inst_0_1  
#defaultFreqHz=225000000
#freqHz=225000000:datamover_outerloop_0_1,kernel_outerloop_0_0_1,kernel_outerloop_0_1_1
#tolerance=0.12:datamover_outerloop_0_1,kernel_outerloop_0_0_1,kernel_outerloop_0_1_1 


#[vivado]
#prop=run.impl_1.strategy=Performance_ExploreWithRemap